@charset "utf-8";


strong {
    color:blueviolet;
    }
    

selector:pseudo-class{
    property:value;
}

.front {
    border-color: #ff11ff;
    border-style: solid;
    border-width: 1px;
    color:blue;
}

#end {
    background-color: rgba(0,100,0,1);
}


